#Présentation {

    border-bottom: white 1px solid;

    .presentation {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;

        @include tablette {
            flex-direction: column;
        }

        width: 100%;
        margin: 0 auto;

        .hero-image {
            max-width: min(500px, 80%);

            @include tablette {

                margin-bottom: 2em;
            }
        }

        .hero-content {
            max-width: 45%;

            @include tablette {
                max-width: 70%;
            }

            @include mobile {
                max-width: 80%;
            }

            .hero-stack {
                list-style: none;
                display: flex;
                gap: 0.8em;
                flex-wrap: wrap; 
                justify-content: flex-start;

                li {
                    &::before {
                        padding-right: 0.5em;
                        content: "•";
                    }
                }
            }
        }
    }
}