#Présentation{
    display:flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;

    .hero-image{
        max-width:500px ;
    }

    .hero-content{
        max-width: 45%;
    }

    border-bottom: white 1px solid;
}