#Présentation {

    border-bottom: white 1px solid;

    .presentation {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;

        @include tablette {
            flex-direction: column;
        }

        width: min(1320px, 95%);
        margin: 0 auto;

        .hero-image {
            max-width: min(500px,70%);

            @include tablette {

                margin-bottom: 2em;
            }
        }

        .hero-content {
            max-width: 45%;

            @include tablette {
                max-width: 70%;
            }
        }
    }
}