header {
    position: sticky;
    z-index: 9999;
    top: 0;
    display: flex;
    align-items: center;
    font-family: "JetBrains Mono", monospace;
    border-bottom: 1px white solid;
    background-color: var(--background);


    .headerContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        width: min(1320px, 95%);
        margin: 0 auto;

        .logo {
            display: flex;
            align-items: flex-start;
            flex-direction: column;

            .extended {
                display: inline;

                @include tablette {
                    display: none;
                }
            }

            .reduced {
                display: none;

                @include tablette {
                    display: inline;
                }
            }
        }

        ul {
            display: flex;
            list-style: none;


            li {
                padding: 0em 1em;
                background: none;
                position: relative;
                border-radius: var(--radius);
                overflow: hidden;
                
                @include mobile {
                font-size: 0.8em;
                }

                &::after {
                    position: absolute;
                    content: '';
                    inset: 0;
                    z-index: -1;
                    transform-origin: left;
                    transform: scaleX(0);
                    transition: transform 1s;
                    background: linear-gradient(135deg,
                            var(--primary),
                            var(--secondary));
                }

                &:focus,
                &:hover {

                    color: white;

                    &::after {
                        transition: transform 1s;
                        transform: scaleX(1);
                    }
                }
            }
        }
    }
}