footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .footer-nav {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-direction: row;
        width: 100%;

        section {
            padding: 1em 0;

            ul {
                list-style: none;
            }
        }
    }

    .W3C-CSS{
         border:0;
         width:88px;
         height:31px;
    }
}

@include mobile{
    footer{
    
        .footer-nav{
            
        flex-direction: column;
        justify-content: center;

        section{
            margin-left: 10%;
        }
        }
    }
}